.services {
    background: #111;
}

.heading.white {
    color: #fff;
}

.services .service-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.services .service-content .servicesBx {
    padding: 40px 20px;
    background: #222;
    color: #fff;
    max-width: 340px;
    margin: 20px;
    text-align: center;
    transition: 0.5s;
}

.services .service-content .servicesBx:hover {
    background: #2196f3;
    cursor: pointer;
}

.services .service-content .servicesBx img {
    max-width: 80px;
    filter: invert(1);
}

.services .service-content .servicesBx h2 {
    font-size: 20px;
    font-weight: 600;
}