header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

header.sticky {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header .logo {
    color: #fff;
    font-size: 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: #000;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: #fff;
    text-decoration: none;
}

header ul li:hover {}

header.sticky ul li a {
    color: #111;
}

/****Responsive****/
@media (max-width: 991px) {

    header,
    header.sticky {
        padding: 20px 50px;
        z-index: 1000;
    }

    .menu {
        position: fixed;
        top: 81px;
        right: -100%;
        display: block;
        padding: 10px 0;
        width: 200px;
        text-align: center;
        background: #2196f3;
        transition: 0.5s;
        z-index: 999;
    }

    .menu.active {
        right: 10px;
    }

    header ul li:hover {
        background-color: #fff;
    }

    header ul li a {
        color: #111;
        font-size: 20px;
        margin: 10px;
    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url('../../assets/img/menu.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }

    .toggle.active {
        background: url("../../assets/img/close.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    header.sticky .toggle {
        filter: invert(1);
    }
}

@media (max-width: 600px) {}