@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Zilla Slab', serif;
    scroll-behavior: smooth;
}

section {
    padding: 100px;
}

.btn {
    position: relative;
    background: #2196f3;
    display: inline-block;
    color: #fff;
    margin-top: 20px;
    padding: 10px 30px;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 500;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

.heading h2 {
    font-weight: 600;
    font-size: 40px;
}

/****Responsive****/
@media (max-width: 991px) {
    section {
        padding: 100px 50px;
    }

    .btn {
        margin-top: 10px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .heading h2 {
        font-size: 24px;
    }
}

@media (max-width: 600px) {
    .section {
        padding: 100px 20px;
    }
}