.work .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.work .content .workBx {
    width: 50%;
    padding: 20px;
}

.work .content .workBx img {
    max-width: 100%;
}


/****Responsive****/
@media (max-width: 991px) {
    .work .content .workBx {
        width: 100%;
        padding: 10px;
    }
}